#slide{
  position:absolute;
  text-align:center;
  margin:0 auto;
  width:100%;
  z-index:1;
  background-color:rgba(255, 255, 255,  0);
  -webkit-transition:all 0.4s ease;
  transition:all 0.4s ease;
}

.fixed{
  position:fixed !important;
}

@media (min-width: 768px) {
  #slide{
    height:100px;
  }
}

@media (min-width: 768px) {
  #right-menu{
    display:none;
  }
}

@media (min-width: 768px) {
  #sidr-right{
    display:none;
  }
}

@media (min-width: 768px) {
  nav{
    font-family:Roboto;
    font-weight:300;
    height:100px;
    margin:0 auto;
  }
}

@media (min-width: 768px) {
  #second{
    position:relative;
    top:5px;
    height:100%;
    padding:0;
    display:inline-block;
    list-style-type:none;
  }
}

@media (min-width: 768px) {
  #second li{
    display:inline-block;
    margin:0 auto;
    padding:0px 15px;
  }
}

@media (min-width: 768px) {
  #second > li > a{
    position:relative;
    font-family:'Audiowide';
    font-size:1.3vw;
    text-decoration:none;
    color:white;
    position:relative;
    display:inline-block;
  }
}


#second > li > a:hover{
  color:lightblue;
}

@media (max-width: 767px) {
  #right-menu{
    display:block;
  }
}

@media (max-width: 767px) {
  #menu{
    display:none;
  }
}

@media (max-width: 767px) {
  #slide{
    height:70px;
  }
}

@media (max-width: 767px) {
  #sidr-right{
    text-align:left;
    animation-delay:2s !important;
  }
}

@media (max-width: 767px) {
  .submenu{
    padding-left:18px !important;
  }
}

.line{
  stroke:#ffffff;
  stroke-width:3;
}

.menubutton{
  border:0px solid #000000;
  border-radius:3px;
  position:absolute;
  right:20px;
  top:15px;
}

#second .showhide{
  top:20px;
}

@media (min-width:767px) {
  #logo{
    display:none;
  }
}

#sidr-right ul li a{
  font-family:'Audiowide';
  font-size:14px;
}

