#home{
  height:100vh;
  background-image:url(../../assets/img/background.jpg);
  background-attachment:fixed;
  background-position:50% 50%;
  background-size:cover;
}

#home h1{
  color:white;
  font-family:'Orbitron';
  font-size:4em;
  margin-top:20%;
  text-shadow:1px 2px 2px black;
  animation-name:title;
  animation-duration:2s;
}

#home h2{
  color:white;
  opacity:1;
  animation-name:subtitle;
  font-family:'Audiowide';
  text-shadow:1px 2px 2px black;
  animation-duration:5s;
}

p{
  font-family:'Archivo Narrow';
  font-size:1.4em;
}

.section{
  padding-top:70px;
  padding-bottom:50px;
  min-height:100vh;
}

.section h2{
  margin:0px auto 40px auto;
}

.section p{
  margin:30px;
}

.nopadding{
  padding:0;
}

#aboutus{
  background-color:lightblue;
  background-image:url(../../assets/img/aboutus.png);
  background-attachment:fixed;
  background-position:50% 50%;
  background-size:cover;
}

#missions{
  background-color:lightgreen;
}

#astronautes{
  background-color:purple;
}

#astrobook{
  background-color:lightgray;
}

figure{
  margin:20px auto;
  padding:10px 10px 15px 10px;
  background:lightgrey;
  border:1px solid #dddddd;
  text-align:center;
}

figcaption{
  font-family:'Archivo Narrow';
  font-weight:300;
  font-size:1em;
  color:#3d3d3d;
  position:relative;
  top:0.5em;
}

.nomargin{
  margin:0;
}

#hublot{
  background-color:#070b14;
}

body{
  color:white;
}

