#home{
  min-height:100vh;
  background-image:url(../../assets/img/background.jpg);
  background-attachment:fixed;
  background-position:50% 50%;
  background-size:cover;
}

#home h1{
  color:white;
  font-family:'Orbitron';
  font-size:4em;
  margin-top:20%;
  text-shadow:1px 2px 2px black;
  animation-name:title;
  animation-duration:2s;
}

#home h2{
  color:white;
  opacity:1;
  animation-name:subtitle;
  font-family:'Audiowide';
  text-shadow:1px 2px 2px black;
  animation-duration:5s;
}

p{
  font-family:'Archivo Narrow';
  font-size:1.4em;
}

.section{
  padding-top:70px;
  padding-bottom:50px;
  min-height:100vh;
}

.section h2{
  margin:0px auto 40px auto;
}

.section p{
  margin:30px;
}

.nopadding{
  padding:0;
}

#aboutus{
  background-image:url(../../assets/img/aboutus.jpg);
  background-attachment:fixed;
  background-position:50% 50%;
  background-size:cover;
}

#missions{
  background-image:url(../../assets/img/missions.jpg);
  background-attachment:fixed;
  background-position:50% 50%;
  background-size:cover;
}

#astronautes{
  background-image:url(../../assets/img/astronautes.jpg);
  background-attachment:fixed;
  background-position:50% 50%;
  background-size:cover;
}

#astrobook{
  background-color:lightgray;
  background-image:url(../../assets/img/astrobook.jpg);
  background-attachment:fixed;
  background-position:50% 50%;
  background-size:cover;
}

figure{
  margin:20px auto;
  padding:10px 10px 15px 10px;
  background:rgba(211,211,211,0.2);
  text-align:center;
}

figcaption{
  font-family:'Archivo Narrow';
  font-weight:300;
  font-size:1em;
  color:white;
  position:relative;
  top:0.5em;
}

.nomargin{
  margin:0;
}

#hublot{
  background-color:#070b14;
}

body{
  color:white;
}

#appli{
  background-image:url(../../assets/img/appli.jpg);
  background-attachment:fixed;
  background-position:50% 50%;
  background-size:cover;
}

#entete{
  height:400px;
  background-image:url(../../assets/img/astrobook-big.jpg);
  background-size:cover;
}
.defileParent{
  position:fixed !important;
  bottom:5px;
  display:block;
  margin:0 auto;
  position:relative;
  width:100%;
  background-color:rgba(252,1,1,0.5);
  z-index:1000;
}
.alert
{
   animation:linear alert 25s;
   opacity:0;
}

.defile{
  display:block;
  text-align:center;
  line-height: 35px;
  height:35px;
}

#modal
{
  position: relative;
  left:auto;
  right: auto;
  width: 130px;
}

 @keyframes alert {
  from{opacity:0;}
  to{opacity: 1;}
 }



#hud { width: 80%; margin: auto; }


@keyframes title {
  from{font-size:0em;}
  to{font-size: 4em;}

}
@keyframes subtitle {
  from{opacity:0;}
  to{opacity: 1;}

}
